body {
    background-color: white;
    color: black;
    width: 33.5em;
    padding: 0;
    margin: 0;
}

/* light theme */
[data-theme="light"] body {
  background: var(--primary-color);
  color: var(--text-color);
}
[data-theme="light"] .header {
    background: var(--secondary-color);
}
[data-theme="light"] .moodle-logo {
    content: url("../../images/logo_light.png");
}
[data-theme="light"] .searchfield, .search-button, .reload-button{
    background-color: var(--accent-color);
    color: var(--text-color);
}

[data-theme="light"] .search-button > svg path, .reload-button svg path {
    fill: var(--text-color);
}

[data-theme="light"] .content-list li:hover {
    background-color: var(--accent-color);
}

/* dark theme */
[data-theme="dark"] body {
    background: var(--primary-color);
    color: var(--text-color);
}
[data-theme="dark"] .header {
    background: var(--secondary-color);
    
}
[data-theme="dark"] .moodle-logo {
    content: url("../../images/logo_dark.png");
}
[data-theme="dark"] .searchfield, .search-button, .reload-button{
    background-color: var(--accent-color);
    color: var(--text-color);
}

[data-theme="dark"] .search-button > svg path, .reload-button svg path {
    fill: var(--text-color);
}

[data-theme="dark"] .content-list li:hover {
    background-color: var(--accent-color);
}

button {
    cursor: pointer;
}

/* downloading spinner */
.rotated{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.header {
    padding: 2%;
    margin-bottom: 5%;
    border-bottom: var(--accent-color) solid 1px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    position: relative;
}

.header * {
    margin: 0;
    font-size: 1em;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.moodle-logo {
    height: 2em;
}

.search-group {
    width: 90%;
    margin: auto;
    grid-template-columns: auto 15% 15%;
    display: grid;
}

.no-scrollbar, .no-scrollbar * {
    overflow-y: scroll;
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar, .no-scrollbar *::-webkit-scrollbar {
    /* Chrome, Safari, Opera*/
    display: none;
}

canvas {
    width: 30em;
    cursor: pointer;
    margin: auto;
}

#subject-container, #files-container, #pages-container {
    max-height: 31em; /* TODO discuss max height */
    margin: 5% 5% 0 5%;
    height: max-content !important;
    padding: 0;
}

.content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-list:hover {
    transform: none;
}

.content-list li {
    text-align: left;
    padding: 12px;
    cursor: pointer;
}

.content-list > li:not(:last-child) {
    /* selects every li:after except the last one*/
    border-bottom: 1px solid lightgrey;
}

.footer-nav-buttons-container {
    margin: 5%;
    grid-template-columns: 15% auto 15%;
    display: flex;
    justify-content: space-between;
}

#prev-button svg path {
    fill: var(--accent-color);
}
