body {
    background-color: white;
    color: black;
    width: 33.5em;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: light) {
    body {
      background: #FFF;
      color: #000000;
    }
    .moodle-logo {
        content: url("../../images/logo_light.png");
    }
  }
  @media (prefers-color-scheme: dark) {
    body {
      background: #1C1C1C;
      color: #FFF;
    }
    .moodle-logo {
        content: url("../../images/logo_dark.png");
    }
  }

button {
    cursor: pointer;
}

.header {
    margin: 5%;
    display: grid;
    grid-template-columns: 15% auto 15%;
    position: relative;
}

.header * {
    margin: 0;
}

.moodle-logo {
    height: 3em;
}

.search-group {
    width: 90%;
    margin: auto;
    grid-template-columns: auto 15% 15%;
    display: grid;
}

#nav-buttons-container {
    width: 90%;
    margin: 5vw;
    grid-template-columns: 15% auto 15%;
    display: grid;
    justify-content: space-between;
}

/* Disabled */
button[disabled] {
    opacity: 0.5;
}

.no-scrollbar, .no-scrollbar * {
    overflow-y: scroll;
    /* Firefox */
    scrollbar-width: none;
    /* IE and Edge */
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar, .no-scrollbar *::-webkit-scrollbar {
    /* Chrome, Safari, Opera*/
    display: none;
}

canvas {
    width: 30em;
    cursor: pointer;
    margin: auto;
}

#subject-container, #files-container, #pages-container {
    max-height: 31em; /* TODO discuss max height */
    margin: 5% 5% 0 5%;
    height: max-content !important;
    padding: 0;
}

.content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-list:hover {
    transform: none;
}

.content-list li {
    text-align: left;
    padding: 12px;
    cursor: pointer;
}

.content-list > li:not(:last-child) {
    /* selects every li:after except the last one*/
    border-bottom: 1px solid lightgrey;
}