body {
    background-color: #1C1C1C;
    color: white;
    width: 30em;
}

button {
    cursor: pointer;
}

.search-group {
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
    position: relative;
    align-items: center;
}

.moodle-logo {
    float: left;
    height: 3em;
    margin: 1em;
}

h1 {
    vertical-align: sub;
}

.header {
    padding: 0.1em;
    position: relative;
    white-space: nowrap;
}


.search {
    margin: 1em;
    padding: 1em;
    position: relative;
}

.search-input {
    margin: 0;
    width: 15em;
    height: 30px;
    vertical-align: middle;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

}

.search-button {
    vertical-align: middle;
}

.reload-button {
    vertical-align: middle;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.clear-button {
    float: right;
    vertical-align: middle;
}

.prev-button,
.clear-button {
    visibility: hidden;
}

.result-container {
    overflow-y: scroll;
    height: 70%;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.result-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}


table td {
    cursor: pointer;
}

canvas {
    float: center;
    width: 30em;
    cursor: pointer;
}