body {
    background-color: white;
    color: black;
    width: 30em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 1.7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

button {
    cursor: pointer;
}

.search-group {
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
    position: relative;
    align-items: center;
}

.moodle-logo {
    float: left;
    height: 3em;
    margin: 1em;
}

h1 {
    vertical-align: sub;
}

.header {
    padding: 0.1em;
    position: relative;
    white-space: nowrap;
}


.search {
    margin: 1em;
    padding: 1em;
    position: relative;
}

.search-input {
    margin: 0;
    width: 15em;
    height: 30px;
    vertical-align: middle;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

}

.search-button {
    vertical-align: middle;
}

.reload-button {
    vertical-align: middle;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.clear-button {
    float: right;
    vertical-align: middle;
}

.prev-button,
.clear-button {
    visibility: hidden;
}

.result-container {
    overflow-y: scroll;
    height: 70%;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.result-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}


table td {
    cursor: pointer;
}

canvas {
    float: center;
    width: 30em;
    cursor: pointer;
}